#contact {
    background-color: var(--mid-green);
    font-family: 'Courgette', cursive;
    font-weight: 200;
}


/* .container {
    justify-content: center;
    margin-left: 5%;
} */

#contact a {
    color: var(--green);
    text-decoration: underline;
}